// MOVE CIRCLE ANIM SET

// 1
@-webkit-keyframes mc1 {
    from {
        top: -40vh;
    }
    to {
        top: -42vh;
    }
}
@keyframes mc1 {
    from {
        top: -40vh;
    }
    to {
        top: -42vh;
    }
}

// 2
@-webkit-keyframes mc2 {
    from {
        top: -10vh;
    }
    to {
        top: -13vh;
    }
}
@keyframes mc2 {
    from {
        top: -10vh;
    }
    to {
        top: -13vh;
    }
}

// 3
@-webkit-keyframes mc3 {
    from {
        top: 15vh;
    }
    to {
        top: 13vh;
    }
}
@keyframes mc3 {
    from {
        top: 15vh;
    }
    to {
        top: 13vh;
    }
}

// 4
@-webkit-keyframes mc4 {
    from {
        top: -3vh;
    }
    to {
        top: -5vh;
    }
}
@keyframes mc4 {
    from {
        top: -3vh;
    }
    to {
        top: -5vh;
    }
}

// 5
@-webkit-keyframes mc5 {
    from {
        top: -60vh;
    }
    to {
        top: -61vh;
    }
}
@keyframes mc5 {
    from {
        top: -60vh;
    }
    to {
        top: -61vh;
    }
}
