$base-black: rgb(30, 30, 30);
$line-black: rgba(0, 0, 0, 0.2);

.footer{
    min-height: 150px;
    padding: 0 5%;
    box-shadow: 0 0 10px rgba(70, 70, 70, 0.3);
    background-color: $base-black;
    color: #fff;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .footer-logo{
        font-weight: bold;
        font-size: 35px;
        line-height: 150px;
    }

    .footer-mid{
        display: flex;
        flex-flow: column;
        text-align: center;
        align-items: center;
        justify-content: center;

        .footer-copyright{}
        .footer-address{
            margin-top: 10px;
        }

    }

    .footer-link{
        a{
            font-size: 35px;
            line-height: 150px;
            padding: 0 10px;
            color: #fff;
        }
    }

}